/*
Author: Fiona Waser
*/

html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fcfcfc;
	font-size: 12px;
}

h1 {
	color: #000066;
}

h2 {
	color: #000066;
}

h3 {
	color: #000066;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9ad3de;
	font-size: 18px;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: #89bdd3;
}

.active {
    background-color: #0099cc;
}

#topbarLeft {
	width: 50%;
	height: auto;
	float: left;
}

#topbarRight {
	width: 40%;
	height: auto;
	float: right;
}

#infobar {
	float: left;
	display: inline-block;
	width: 50%;
	height: auto;
}

#diagramTitle {
	float: left;
	width: 100%;
}

#structuralForm {
	float: right;
	margin-top: 10px;
	width: auto;
	height: auto;
}

#sortChordDiagram {
	float: left;
	display: inline-block;
	margin: 5px;
}

#showBridgeTables {
	float: left;
	display: inline-block;
	margin: 20px;
	opacity: 0.6;
}

.help:before {
    content: '?';
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 1.8ex;
    height: 1.8ex;
    font-size: 3ex;
    line-height: 1.8ex;
    border-radius: 1.2ex;
    margin-right: 4px;
	margin-top: 10px;
    padding: 1px;
    color: white;
    background: black;
    border: 1px solid black;
    text-decoration: none;
	float: right;
}

.help:hover:before {
    color: black;
    background: white;
    border-color: black;
    text-decoration: none;
	cursor: help;
}

#helpPopup {
	right: 0px;
	padding: 5px;
	margin-right: 22px;
	margin-top: 20px;
	display: none;
    position: absolute;
    border: 1px solid #000;
	max-width: 95%;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	background-color: #fcfcfc;
	color: black;
	cursor: help;
	z-index: 99 !important;
}

.queryControlWords {
	font-weight: bold;
}

#content {
	float: left;
	width: 100%;
	height: auto;
}

#diagram {
	float: left;
	width: 50%;
	height: auto;
}

#legends {
	float: left;
	width: 100%;
	height: 100px;
}

#legendCardinality {
	width: 50%;
	height: 100%;
	float: left;
}

#legendNrRows {
	width: 50%;
	height: 100%;
	float: right;
}

#query {
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

#rows {
	float: left;
	width: 100%;
}

#leftSidebar {
	float: left;
	height: auto;
	width: 50%;
}

#rightSidebar {
	float: right;
	height: auto;
	width: 50%;
}

#attributeInfo {
	float: right;
}

#searchInterface {
	width: 100%;
	border-radius: 25px;
	margin: 15px;
	padding: 5px;
}

div.histogramIcon {
	background-image: url(img/histogram_icon.ico);
	width: 32px;
	height: 23px;
	display: block;
	margin: auto;
}

div.histogramIcon:hover {
	cursor: pointer;
}

table {
	font-size: 12px;
}

#setup > th, td {
    border: 0;
}

th, td {
    border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.axis {
	font: 10px sans-serif;
}
 
.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
 
#circle:hover path.fade {
	display: none;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}
